/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wdth,wght@75,100&family=Smooch+Sans:wght@100&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }

a{
    text-decoration: none;
    color: inherit;
}
.app{
    background-image: url(./assets/ques1.png);
    min-height: 98.5vh;
    border: 8px solid rgba(0, 0, 0, 0.526);
    margin: 5px;
    padding: 5px;
    background-size: cover;
    border-radius: 10px;
    
   
}

.select{
    background-color: greenyellow;
    box-shadow: 1px 1px 2px black;
}
.wrong{
    background-color: rgb(255, 50, 47);
    box-shadow: 1px 1px 2px black;
}